{{ $id       := .id | default "na" }}
{{ $href     := .href | default "#" }}
{{ $target   := .target | default "_blank" }}
{{ $class    := .class | default "" }}
{{ $color    := .color | default "primary" }}
{{ $disabled := .disabled | default false }}
{{ $rel      := .rel | default "noopener" }}
{{ $text     := .text | default "Click me" }}

{{ $extraClass := cond $disabled "pointer-events-none opacity-50 cursor-not-allowed" "" }}
{{ $finalHref  := cond $disabled "#" $href }}

<a
  id="{{ $id }}"
  href="{{ $finalHref }}"
  target="{{ $target }}"
  rel="{{ $rel }}"
  role="button"
  class="rounded-lg text-base px-3 py-2.5 text-center me-1 mb-1 font-medium
         text-{{ $color }}-900 bg-white border-2 border-{{ $color }}-500
         hover:font-bold hover:outline-dotted hover:text-white hover:bg-{{ $color }}-900
         focus:outline-dashed focus:ring-4 focus:ring-{{ $color }}-300
         {{ $class }} {{ $extraClass }}">
  {{ $text | markdownify | emojify }}
</a>
