{{ $page := .page }}
{{ $class := .class }}
{{ $hide_language_name := site.Params.header.navbar.hide_language_name | default false }}
{{ $str_languages := T "languages" }}

{{- if $page.IsTranslated -}}
  <div id="language-chooser" class="navbar-nav-language flex justify-items-start {{ with $class }}{{. | safeCSS }}{{ end }}">
    <button
      title="{{ $str_languages }}"
      data-state="closed"
      data-hb-language-chooser
      class="nav-choosers"
      type="button"
      aria-label="{{ $str_languages }}"
    >
      <div class="flex items-center gap-2 capitalize" style="min-height:48px;">
        {{/* Match theme chooser icon height */}}
        {{- partial "functions/get_icon" (dict "name" "globe-alt" "attributes" "height=32") -}}
        {{- if not $hide_language_name -}}<span>{{ index site.Data.languages $page.Lang }}</span>{{ end -}}
      </div>
    </button>
    <ul
      class="navbar-nav-language fixed m-0 min-w-[100px] hidden z-20 max-h-72 overflow-auto rounded-md ring-1 ring-black/10 bg-white py-1 shadow-lg dark:ring-white/25 dark:bg-neutral-700"
      style="inset: auto auto 0 0;"
    >
      {{ range $page.Translations }}
        <li class="flex flex-col">
          <a
            href="{{ .Permalink }}"
            class="nav-choosers relative cursor-pointer whitespace-nowrap py-2 transition-colors ltr:pl-3 ltr:pr-9 rtl:pr-3 rtl:pl-9"
          >
            {{- index site.Data.languages .Lang -}}
          </a>
        </li>
      {{ end -}}
    </ul>
  </div>
{{- end -}}
