/* Hugo Blox color theme: BLUE */
:root {
  /* TW Blue Palette -- Oxford Blue 0 33 71 ---  */
  --color-primary-50: 0 119 255;
  --color-primary-100: 0 113 242;
  --color-primary-200: 0 108 232;
  --color-primary-300: 0 100 214;
  --color-primary-400: 0 92 196;
  --color-primary-500: 0 83 179;
  --color-primary-600: 0 75 161;
  --color-primary-700: 0 50 107;
  --color-primary-800: 0 42 89;
  --color-primary-900: 0 33 71;
  --color-primary-950: 0 17 36;
  /* TW Cyan Palette  -- Oxford Blue complementary Red 71 6 0  #470600*/
  --color-secondary-50: 255 21 0;
  --color-secondary-100: 242 20 0;
  --color-secondary-200: 232 19 0;
  --color-secondary-300: 214 18 0;
  --color-secondary-400: 179 15 0;
  --color-secondary-500: 161 13 0;
  --color-secondary-600: 125 10 0;
  --color-secondary-700: 107 9 0;
  --color-secondary-800: 89 7 0;
  --color-secondary-900: 71 6 0;
  --color-secondary-950: 36 3 0;
}
/*another complementary Green #d9ff00 */