li.nav-item {
    font-size: 0.75rem;
    /* font-size: var(--text-xsm); */
}

// Custom nav-item size for i18n 
li.nav-item.dropdown {
    min-width: 80px;
    text-align: center;
}

.hb-sidebar-container {
    width: 12rem 288px;
}