li.nav-item {
    font-size: 0.75rem;
    /* font-size: var(--text-xsm); */
}

// Custom nav-item size for i18n 
li.nav-item.dropdown {
    min-width: 80px;
    text-align: center;
}

.hb-sidebar-container {
    top: 2rem;
    width: 8rem 288px;
}

.hbb-section {
    border-radius: 12px !important;
    border: 3px solid rgb(107 114 128 / var(--tw-text-opacity, 1));
    box-shadow: 5px 9px 9px rgb(107 114 128 / var(--tw-text-opacity, 1));
    padding: 0.5rem;
    margin: 1rem;
}

.section-sub:not(:last-child) {
    border-top: 2px dotted rgba(127, 127, 127, 0.5) ;
}

.skills-name {
  font-size: 0.84rem;
  margin-bottom: 6px;
  text-transform: none;
  /* color: #888; */ /* Inaccessible */
}

.skills-description {
  font-size: 0.72rem;
  margin-bottom: 6px;
  text-transform: none;
  box-shadow: .1rem .1rem rgba(127, 127, 127, 0.2) ;
}

.folded_corner{
  color: currentColor;
  --inverted-color: hsl(from currentColor calc(h + 180) s calc(100 - l));
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0) no-repeat 100% 0 / 2em 2em,
    linear-gradient(-135deg, transparent 1.5em, var(--inverted-color) 0);
  -webkit-filter: drop-shadow(0.2em 0.3em rgba(0,0,0,0.1));
  filter: drop-shadow(0.2em 0.3em rgba(0,0,0,0.1));
}
.folded_corner::before{
  content: ' ';
  position: absolute;
  top: 2em; 
  right: 0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,0.1) 0) 100% 0 no-repeat;
  width: 2em;
  height: 0.3em;
  transform: rotate(180deg)
}
