/* markmap.js diagram div */
div.markmap {
    max-width: 95vw;
    margin-bottom: 1rem;    
  svg {
    width: 100% !important;
    display: block;
  }
}


/* Mermaid.js diagram div */
div.mermaid {
  width: 100%;
  margin-bottom: 1rem;

  svg {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Plotly chart */
div.chart {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  /* Add horizontal scroll on mobile since Plotly */
  overflow-x: auto;
}
