{{/*
✅ When icon is set: displays a full-width line with an icon centered over it.
   {{< hr icon="fa-solid fa-star" >}}
🚫 When icon is missing: uses a compact, decorative separator with Tailwind styling.
   {{< hr >}}
   See: https://flowbite.com/docs/typography/hr/
*/}}
<div class="inline-flex items-center justify-center w-full">
  {{ with .Get "icon" }}
    <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded-sm dark:bg-gray-700">
    <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900 text-xl">
      <i class="{{ . }}"></i>
    </div>
  {{ else }}
    <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-10 dark:bg-gray-700">
  {{ end }}
</div>